body{
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #ebeff7;
}


/* product */
h2{
    margin:0px;
}
.content{
    float: left;
}

.content_1{
    width: 318px;
    margin:33px 55px 0px 33px;
    background-color: white; 

}
.style_top_div{
    margin: 21px 18px 0px 18px;
}

.style_div_img{
/*    height: 410px;*/
/*    overflow: hidden;*/
}

.hidden_img{
/*
    filter: blur(3px);
    -webkit-filter: blur(3px);
*/
    height: 85px;
}

.m_t_2{
    margin-top: 15.1px;
}
.m_t_3{
    margin-top: 16px;
}

.style_top{
    width: 103px;
    display: inline-block;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #102542;
    margin-top:18.1px;
}
.style_top_img{
    position: relative;
    top:7px;
    width: 11px;
    float: right;
    margin-top:18.1px;
    cursor: pointer;
}

.style_info_img{
    width: 17px;
    height: 17px;
    margin-left: 11px;
}



.cont_img_txt{
    font-family: Roboto;
    font-size: 12px;
    color: #102542;
    margin-top: 9.6px;
}
.cont_img_div_1{
    display: inline-block;
}
.cont_img_div_2{
    position: relative;
    display: inline-block;
    width: 135px;
    height: 134px;
    
}

.top_img_1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m_r{
    margin-right: 12px;
}

.m_t{
    margin-top: 12px;
}
.more_btn{
  width: 282px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
  background-color: #636471;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 18.2px;
}
.btn_shadow{
    box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
/*    background-color: #636471;*/
}



.more_btn_m{
    margin-bottom: 6px;
}

.check_border{
    box-sizing: border-box;
    border: 1px solid gray;
}


/* check */
  
.content_1 input[type=checkbox] {
    position: absolute;
      cursor: pointer;
      bottom: 13.7px;
      left: 0px;
}
.content_1 input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 1.6px;
  background-color: #ffffff;
    top: 0;
    left: 0;
    border: 1px solid gray;
/*    border-radius: 3px;*/
/*    background-color: white;*/
}

.content_1 input[type=checkbox]:checked:before {
    background-color: black;
}


.content_1 input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 7px;
}




.content_2{
    width: 318px;
    height: 186px;
    margin:24px 55px 0px 33px;
    background-color: white; 
    margin-top: 24px;

}

.price_range_div{
    margin: 0px 0px 0px 18px;
    padding-top: 18.2px
}

.price_range{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #102542;
 
}
.min_max_div{
    margin: 21.2px 0px 0px 18px;
}

.min_txt{
    font-size: 14px;
    color: #68697b;
}


.min{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top:-10px;
    width: 61px;
    height: 36px;
    border-radius: 3px;
    background-color: #ebeff7;
    border-bottom: 2px solid gray;
    margin-left: 7.2px;
    margin-right: 19.8px;
    font-size: 14px;
   
}

.max{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top:-10px;
    width: 61px;
    height: 36px;
    border-radius: 3px;
    background-color: #ebeff7;
    border-bottom: 2px solid gray;
    margin-left: 5px;
    margin-right: 14.2px;
    font-size: 14px;
   
}

.p_s{
    position: relative;
    top:10px;
    margin-left: 1px;
}

.go_btn{
    width: 42px;
    height: 36px;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
    background-color: #636471;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
/*    margin-left: 15px;*/
}
.hr{
    margin: 15px 18px 11.2px ;
    border-bottom: 1px solid#dddee9;

}
.range_div{
    position: relative;
    margin-left:18px;
    margin-right: 20px;
}

.min_range{
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 20.5px;
    box-shadow: 0 1px 3px 0 rgba(12, 36, 62, 0.2);
    background-color: #f1f3f7;
    cursor: pointer;
    z-index: 1;
}
.line_range{
    display: inline-block;
    position: relative;
    top:-10px;
    left:-10px;
    width: 242.3px;
    height: 9px;
    border-radius: 4.5px;
    background-color: #aaabbc;
}


.max_range{
    position: absolute;
    right: 0px;
}


.content_3{
    width: 318px;
    margin:24px 55px 0px 33px;
    background-color: white; 
}

.color_check_div{
    margin:15.2px 18px 0px 18px;
}
.color_m{
    margin-top:20px;
}

.l_txt{
    position: relative;
    top: -1px;
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.29;
    color: #68697b;
    margin-left:5px; 
    cursor: pointer;
}
.content_3 input[type=checkbox] {
    position: relative;
      cursor: pointer;
}
.content_3 input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 11px;
    top: 0;
    left: 0;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
}

.content_3 input[type=checkbox]:checked:before {
    background-color: black;
}


.content_3 input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 5px;
}
.color_span{
    float: right;  
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.29;
    color: #102542;
}

.content_4{
    width: 318px;
    height: 102px;
    margin:24px 55px 40px 33px;
    background-color: white; 

}
.reviews_div{
    margin:15px 18px 0px 18px;
    padding-top: 1px;
}

.reviews{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #102542;
  margin-top: 18px;
}

.reviews_div_star{
    margin:16px 18px 0px 18px;
}
.reviews_star_img{
    height: 24px;   
    cursor: pointer;
    margin-right: 2px;

}

.content_main{
    width: calc(100% - 418px);
    float: right;
    margin-top: 33px;
}

.top_txt{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    color: #102542;
    margin-left:10px; 
    margin-bottom: 15px;
}

.results{
    position: relative;
    top:-6px;
    font-family: Roboto;
    font-size: 14px;
    color: #636471;
    margin-left: 5px;
  }


.contentProducts{
    text-align: center;
}


.div_product{
  float: left;
  margin: 16px 12px;
}
.div_img{
    width: 240px;
    height: 240px;
}

.product_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-height:450px; */
    /* border: 1px solid #00B4CC; */
}

.info_content{
    width: 240px;
    height: 172.5px;
    /* min-height: 190px; */
    border: 1px solid rgba(204, 204, 255,0.8);
    background-color: white;
}


.title_div{
    margin-top:13.5px;
    margin-left: 11px;
}
.title{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #102542;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.star_div{
    padding-left: 11px;
    margin-top: 2px;
    text-align: left;
}

.star_img{
    width: 15px;
    height: auto;
    margin-right: 2px;
}
.star_txt{
  position: relative;
  top: -2px;  
  display: inline-block;  
  font-family: Roboto;
  font-size: 12px;
  color: #0c243e;
  margin-left: 3px;
}
.offer_div{
    padding-left: 11px;
    margin-top:15px;
    text-align: left;
}
.delivery_truck{
    position: relative;
    top: 3px;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    object-fit: contain;
    cursor: pointer;
}


.offer{
  font-family: Roboto;
  font-size: 12px;
  color: #68697b;
}
.price_div{
    padding-left: 11px;
    margin-top:10.5px;
    text-align: left;
}


.price{
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #fe5f55;
}
.sup {
    vertical-align: text-top;
    margin-left: 2px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: #fe5f55;
}

.length_div{
    padding-left: 11px;
    margin-top:11px;
    text-align: left;
}

.length{
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    color: #636471;
}
.heart_img{
    width: 11px;
    height: 10px;
    float: right;
    margin-right: 11px;
    cursor: pointer;
}

/* mobile */

.div_filter_1{
display: none;    
width: 100%;
background-color: white;
margin-top: 10px;
padding-top: 1px;

}

.div_filter_2{
    position: relative;
    margin:16px 18px;
    padding-bottom: 16px;
}

.mob_results{
    font-size: 14px;
    letter-spacing: normal;
    color: #636471;
}

.mob_top_txt{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bolid;
    color: #102542;
}


.Filter_btn{
    position: absolute;
    right: 0px;
    top: 1px;
    width: 71px;
    height: 26px;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(19, 33, 66, 0.07);
    background-color: #fe5f55;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.filter_img{
    width: 12px;
    margin-right: 5px;
}


.div_filter_open_1{
    display: none;
    width: 100%;
    background-color: white;
    padding-top: 1px;
}
.div_filter_open_2{
    position: relative;
    margin:16px 18px;
    padding-bottom: 16px;
}

.open_txt{
    font-size: 18px;
    color: #102542;
}

.close_img{
    position: absolute;
    right: 0px;
    top: -1px;
    border:none;
    width: 16px;
    height: 16px;
    cursor: pointer;
}




.search_img{
  width: 16px;
  height: 16px;
  object-fit: contain;
}


.search_div{
    width: calc(100% - 90px);
    box-sizing: border-box;
    height: 43px;
    margin-left: 12px;
}
  
  .search {
    width: 100%;
    position: relative
  }
  
  .searchInput {
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    border-radius: 2px;
    border: solid 1px #9bb3e4;
    background-color: #ffffff;
    padding-left: 22px;
    outline: none;
    /* color: #b6b8cd; */
    font-size: 20px;
  }
  
  /* .searchTerm:focus{
    color: #00B4CC;
  } */
  
  .searchButton {
    position: absolute;  
    right: -42px;
    width: 43px;
    height: 43px;
    border-radius: 2px;
    border: solid 1px #9bb3e4;
    background-color: #ededed;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  /* .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .main_txt{
     margin-top: 16px;
  }


.img_h{
    height: 52.2px;
}
.box_p{
    position: relative;
}
.btn_p{
    position: relative;
    z-index: 100;
}


.Rectangle {
    position: absolute;
    bottom: 5px;
    width: 282px;
    height: 100.4px;
    z-index: 10;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(251, 252, 255, 0.9) 31%, #fbfcff 60%);
    
}



@media screen and (max-width: 600px){

.div_filter_1{
        display: block;    
}

.div_product{
    margin: 6px auto;
    float: none;
    display: inline-block;
}

.title{
    font-size: 12px;
}

.title_div {
    margin-top: 9.5px;
}

.content{
    display: none;
    width: 100%;
}
.main_txt{
    display: none;
}
.content_main{
    width: 100%;
    float: right;
    margin-top: 0px;
}

.div_img{
    float: left;
    width: 144px;
    height: 144px;
}
.info_content{
    float: left;
    width: 196px;
    height: 144px;
}
.content_1{
    margin: 0px auto;
}

.content_2{
    margin: 10px auto;
}
.content_3{
    margin: 10px auto;
}
.content_4{
    margin: 10px auto;
}

.m_mob{
    margin-top: 0px;
}

.search_div{
    width: calc(100% - 44px);
    margin-left: 0px;
}

}


@media screen and (max-width: 350px){
    .info_content{
        float: left;
        width: 160px;
        height: 144px;
    }

}


    
    
    
    
    
    
    
    
    
    
    
    
    
